.pulse {
    position: relative;
}

.pulse::after, .pulse::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4bc7c3;
    border-radius: 50%;
    z-index: -1;
    opacity: .4;
    animation: pulse 2s ease-out infinite;
}

@keyframes pulse {
    100% {
            transform: scale(2.5);
            opacity: 0;
    }
}

.pulse::after {
    animation-delay: 1s;
}
