@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #fff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #0a02d6;
  }
}

.title-name {
  background: linear-gradient(to right, #66d2ce, #2daa9e, #026070, #8cbeb3);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 2.5s linear infinite;
}

@keyframes gradient {
  to {
    background-position: 200%;
  }
}

.title-hover:hover {
  letter-spacing: 3;
  transition: 0.4s;
}
